$primary: gold;
$secondary: #F4CC61;    //  border of most square buttons
$buttonText: #000000;
$bcgrd: #4C4F53;  //  color of background and most checkmarks and 2 transparent buttons (bottom left)
$inactive: white;
$sec2: #F5D67C;
$hoverBottom: #8C8155;
$hoverTop:  #F0D77C;
$clickTop: darkgoldenrod;
$inactivep: #BCBFC7;
$click: #BEA04B;
$hoverp: #717271;
$hoverlight: #8D7E53;
$gold: gold;
$grey: grey;
$white: white;
$tertiary: grey;
$gold2: gold;
