body {
	background-color: #4B4F53;
}

.calendarHeader {
	display: flex;
	justify-content: space-around;
  background-color: #6F7275;
  width: 590px;
  height: 103px;
  font-size: 40px;
  color: white;
  align-items: center;
  margin: auto;
}
